<div id="<%= dom_id post %>">
  <h2>
    <%= post.title %>
  </h2>
  <p class="">
    <i>
      
    <%= pluralize post.comments.count, "comment"-%>
    </i>
  </p>
  <p>
    <%= post.content %>
  </p>

   <p>
    <strong>Posted</strong>

   <%= time_tag(post.created_at, "data-local": "time-ago") %>
  </p>

</div>
